* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #0D0D0C;

  .firstPage {
    position: absolute;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    font-family: 'defaultFont', serif;
    transform: translateY(0%);
    justify-content: center;
    display: flex;

    &.hidden {
      transform: translateY(-100%);
      animation: 1s activeToHidden;
    }

    .textContainer {
      position: absolute;
      top: 40%;
      width: fit-content;
      animation: opacityChangeHigh 3s ease-in;

      #title {
        font-size: 5em;
        color: #120D16;
        filter: blur(0.5px);
        text-align: left;
        align-self: center;
      }

      .textChange {
        text-align: left;
        align-self: center;
      }

      .border {
        height: 1px;
        width: 70%;
        background-color: black;
        transform: translateX(-50%);
        margin-left: 50%;
      }
    }
    .nav-arrow-down {
      position: absolute;
      bottom: 10%;
      left: 50%;
      cursor: pointer;

      span {
        &::after {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -10px 0 0 -8px;
          content: "";
          border-left: 5px solid black;
          border-bottom: 5px solid black;
          transform: rotate(-45deg);
          box-sizing: border-box;
          animation: sdb 3s infinite;
        }
      }
    }
  }

  #headerBack {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;

    ul {
      text-align: center;
      font-size: 2em;
      overflow: hidden;
      align-self: center;
      width: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 40vh;
      position: sticky;
      font-family: 'defaultFont', serif;

      li {
        list-style: none;
        transition: all 0.8s;

        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }

        &.invisible {
          visibility: hidden;
        }

        &.active {
          color: red;
          opacity: 0.5;
        }

        &.noHeight {
          transition: all 0.8s;
          height: 0 !important;
          overflow: hidden;
        }
      }
    }

    .imgContainer {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow-y: scroll;
      width: 50vw;

      &::-webkit-scrollbar {
        display: none;
      }

      .beerDetailsBackground {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        display: none;
      }

      .beerForm {
        position: absolute;
        width: 25vw;
        height: 75%;
        background-color: #faf0e6;
        margin: 0 1.5% 0 1.5%;
        z-index: 2;
        display: none;
        opacity: 0;
        align-self: center;

        form {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          div {
            align-self: center;
            width: 90%;
            text-align: right;

            label {
              margin-right: 5%;
              vertical-align: middle;
            }

            input {
              width: 70%;
              height: 150%;
              border: none;
            }

            textarea {
              width: 70%;
              height: 150%;
              border: none;
              resize: none;
            }

            button {
              background-color: white;
              border: none;
              padding: 15px 32px;
              text-align: center;
              cursor: pointer;
              border-radius: 50px;
            }

            &.sliderContainer {
              display: flex;
              justify-content: flex-end;

              .slider {
                display: flex;
                flex-direction: column;
                width: 70%;

                output {
                  align-self: center;
                }

                input {
                  border: none;
                  width: 100%;
                }
              }
            }
          }
        }

        &.active {
          display: flex;
          animation: opacityChangeHigh 0.5s ease-in-out;
          opacity: 1;
        }
      }

      .beerDetails {
        position: absolute;
        width: 50vw;
        height: 50%;
        background-color: #faf0e6;
        margin: 0 1.5% 0 1.5%;
        z-index: 2;
        display: none;
        opacity: 0;

        &.active {
          display: flex;
          animation: opacityChangeHigh 0.5s ease-in-out;
          opacity: 1;
        }

        .beerImg {
          background-image: url(https://images.punkapi.com/v2/keg.png);
          height: 70%;
          width: 25%;
          background-size: contain;
          background-repeat: no-repeat;
          align-self: center;
          margin-left: 5%;
        }

        .beerText {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 70%;

          .beerTitle {
            align-self: center;
            text-align: center;

            .beerName {
              font-size: 2em;
              align-self: center;
            }

            .beerTagline {
              align-self: center;
            }
          }

          .beerVolume {
            align-self: center;
          }
        }

        i {
          font-size: 2em;
          margin: 2% 2% 0 0;
          cursor: pointer;
        }
      }

      .element {
        width: 50%;
        transition: all 0.8s;
        position: absolute;
        display: flex;
        height: 40vh;

        &#introduction, &#end {
          background-color: #faf0e6;
          z-index: 1;
        }

        &#beers {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          height: 80vh;
          margin-top: 10vh;
          margin-bottom: 10vh;
          overflow-y: scroll;
          padding: 0 1.5% 0 1.5%;

          &.flouted {
            filter: blur(0.8px);
            opacity: 0.5;
          }

          &::-webkit-scrollbar {
            display: none;
          }

          .card {
            width: 25%;
            height: 15vh;
            margin: 2.5%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            animation: 1s all ease-in-out;
            border: solid 1px black;

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }

            .beerName {
              align-self: center;
              text-align: center;
              margin: 0 10px 0 10px;
            }

            .beerInfo {
              display: flex;
              justify-content: space-evenly;
            }

            .beerABV {
              align-self: center;
            }
          }
        }

        &.active {
          transform: translateY(0%);
          animation: 1s bottomToMiddle ease-in-out;
        }

        &.bottom {
          display: none !important;
          transform: translateY(200%);
        }

        &.top {
          animation: 1s middleToTop ease-in-out;
          transform: translateY(-200%);
        }

        img {
          z-index: 2;
          height: 40vh;
        }

        .text {
          overflow: hidden;
          text-align: justify;
          height: calc(100% - 10vh);
          width: max-content;
          z-index: 2;
          font-family: 'defaultFont', serif;
          margin: 5%;
          font-size: 1.3em;
        }

        .backRightLeft {
          margin: 5% 0 0 5%;
        }
      }
    }
  }

  .add {
    display: none;
    font-size: 4em;
    align-self: center;
    width: 15%;
    text-align: center;
    cursor: pointer;
  }
}

@keyframes middleToTop {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@keyframes bottomToMiddle {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(-0%);
  }
}

@keyframes activeToHidden {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes opacityChangeHigh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityChangeLow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "defaultFont";
  font-style: normal;
  src: url('./assets/fonts/orkney_regular.ttf');
}