<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>NodeJS</title>
</head>
<body>
    <h1>YOOOO</h1>
    <ul>
        <% beers.forEach(function(beer) { %>
            <li> Name: <%= beer.name %></li>
        <% }); %>
    </ul>
</body>
</html>